<app-routing-bar> </app-routing-bar>

<div class="home-page-container">
    <div class="default-squared-container">
        <div class="default-squared-container-title">
            Application data
        </div>

        <ng-template [ngIf]="appData">
            <div class="item">
                {{appData.numberOfUsers}} users have been analyzed so far.
            </div>
            <div class="item">
                {{appData.numberOfComms}} comments have been collected and analyzed.
            </div>
            <div class="item">
                The application gathered {{appData.numberOfSubmitted}} reddit submitted posts.
            </div>
            <div class="item">
                {{appData.numberOfPosts}} posts were analyzed with the help of the Google Natural Language Api
            </div>
        </ng-template>
    </div>
    <div class="add-new-data-container">
        <div class="input-button-class">
            <div class="input-container">
                <label for="user-prediction"></label>
                <input class="default-input" type="text" name="" id="" value="" [(ngModel)]="newUser"><br>
            </div>

            <button class="default-btn translated" (click)="addUser()"> Add User</button>
        </div>

        <div class="input-button-class">
            <div class="input-container">
                <label for="user-data"></label>
                <input class="default-input" type="text" name="" id="" value="" [(ngModel)]="newPost"><br>
            </div>
            <button class="default-btn translated" (click)="addPost()">Add Post </button>
        </div>
    </div>
</div>