<section>
  <div class="login-container">
      <div class="card">
          <div class="card-title text-primary">
              Login
          </div>

          <label for="email"><b> </b> </label>
          <input type="text" name="email" placeholder="Email" [(ngModel)] = 'email' required>
          <label for="password"><b> </b> </label>
          <input type="password" name="password" placeholder="Password" [(ngModel)] = 'password' required>
              <p style="color:red;"><b>Invalid Data</b></p>

                  <div class="submit-login-container">
                      <button class="btn success" (click) = "login()"> Login </button>
                      <div class="extra-options">
                          <a routerLink="/forgot-password" routerLinkActive="active">Forgot your password?</a>
                          <a routerLink="/register" routerLinkActive="active">Register here</a>
                      </div>
                  </div>
      </div>
  </div>
</section>