
  <div class="register-container">
      <div class="card">
          <div class="card-title text-primary">
              Register
          </div>

          <div class="sign-up-info">

              <p> Please provide the following data in order to register </p>
          </div>

          <div class="grid-register-container">
              <label for="first-name"><b> </b> </label>
              <input class="first-name-input" type="text" placeholder="First Name" name="first-name" [(ngModel)] = 'firstName'
                  required>

              <label for="last-name"><b> </b> </label>
              <input class="last-name-input" type="text" placeholder="Last Name" name="last-name" [(ngModel)] = 'lastName'
                  required>

              <label for="email"><b> </b> </label>
              <input class="email-input" id="email-input" type="text" placeholder="Email" [(ngModel)] = 'email'
                  required>

              <label for="password"><b> </b> </label>
              <input class="password-input" id="password-input" type="password" placeholder="Password" [(ngModel)] = 'password'
                  required>

              <label for="confirm-password"><b> </b> </label>
              <input class="confirm-password-input" type="password" placeholder="Confirm password" 
                  required>
          </div>
          <div class="submit-register-container">
              <button class="btn success" (click)="register()"> Register </button>
              <a href="/login"> Already registered? Login here. </a>
          </div>
      </div>